Repository xevrion/BreathClean: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, npm --prefix client run lint --, npm --prefix server run lint --

refactor: move authentication middleware from `middleware.ts` to `proxy.ts`
  client/proxy.ts
Due: prettier --check, npm --prefix client run lint --

fix: rename Login directory to login for case consistency
  client/app/(public)/Login/LoginButtons.tsx
  client/app/(public)/login/page.tsx
Due: prettier --check, npm --prefix client run lint --

feat: Implement user profile page with dedicated API endpoint and token verification.
  server/package-lock.json
  server/package.json
Due: prettier --check

feat: integrate Mapbox for enhanced mapping functionality (#4)
  client/app/(private)/home/page.tsx
  client/app/(private)/layout.tsx
  client/components/home/HomeMap.tsx
  client/components/landing/Footer.tsx
  client/components/profile/ProfileCard.tsx
  client/package-lock.json
  client/package.json
  client/tsconfig.json
  client/types/global.d.ts
  server/src/middleware/tokenVerify.ts
Due: prettier --check, npm --prefix client run lint --, npm --prefix server run lint --

feat: Improved home Page and implemented schema of saved routes (#5)
  client/components/home/HomeMap.tsx
  server/src/Schema/route.schema.ts
Due: prettier --check, npm --prefix client run lint --, npm --prefix server run lint --

fix: wrap map cursor reset in try-catch to prevent errors if canvas is unmounted.
  client/components/home/HomeMap.tsx
Due: prettier --check, npm --prefix client run lint --

feat: Implement interactive Mapbox map component for source and destination selection with search and geolocation. (#6)
  client/app/(private)/home/page.tsx
  client/components/home/HomeMap.tsx
  client/package-lock.json
  client/package.json
Due: prettier --check, npm --prefix client run lint --

feat: Implement saved routes feature with dedicated page, map visualization, and route insights.
  client/app/(private)/layout.tsx
  client/app/(private)/saved-routes/page.tsx
  client/components/home/HomeMap.tsx
  client/components/saved-routes/AppNavbar.tsx
  client/components/saved-routes/EmptyState.tsx
  client/components/saved-routes/RouteInsightsPanel.tsx
  client/components/saved-routes/RouteMap.tsx
  client/components/saved-routes/SavedRouteCard.tsx
  client/components/saved-routes/SavedRoutesList.tsx
  client/components/saved-routes/SavedRoutesView.tsx
  client/components/saved-routes/types.ts
  client/proxy.ts
  server/src/Schema/route.schema.ts
  server/src/controllers/savedRoutes.controllers.ts
  server/src/index.ts
  server/src/routes/savedRoutes.routes.ts
Due: prettier --check, npm --prefix client run lint --, npm --prefix server run lint --

refactor: replace hardcoded client redirect URLs with `process.env.CLIENT_REDIRECT_URL` for improved configurability.
  server/src/controllers/oauth.controllers.ts
Due: prettier --check, npm --prefix server run lint --

fix: Configure refresh token cookie for cross-site compatibility and remove debug log.
  server/src/controllers/oauth.controllers.ts
Due: prettier --check, npm --prefix server run lint --

chore: Update CORS origin to `https://breathe.daemondoc.online`.
  server/src/index.ts
Due: prettier --check, npm --prefix server run lint --

feat: Enhance route map rendering with deferred updates and improved layer management, and reset route comparison panel scroll on load.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
  client/components/routes/RouteMapBackground.tsx
  server/src/routes/auth.routes.ts
Due: prettier --check, npm --prefix client run lint --, npm --prefix server run lint --

style: adjust home page layout padding and reposition the 'Best for Health' badge.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
Due: prettier --check, npm --prefix client run lint --

docs: Add initial README with project overview, key features, tech stack, and setup instructions
  README.md
Due: prettier --check

Update README.md
  README.md
Due: prettier --check

feat: Introduce route saving, environmental data computation, and scoring functionalities with a new data processing API. (#19)
  .gitattributes
  data-processing/dataProcessingServer/api/__pycache__/middleware.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/views.cpython-313.pyc
  data-processing/dataProcessingServer/api/middleware.py
  data-processing/dataProcessingServer/api/pathway/__pycache__/pipeline.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/pipeline.py
  data-processing/dataProcessingServer/api/views.py
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
  scripts/README.md
  scripts/git-merge-theirs.ps1
  scripts/git-merge-theirs.sh
  scripts/setup-merge-theirs.ps1
  scripts/setup-merge-theirs.sh
  server/src/Schema/breakPoints.ts
  server/src/Schema/route.schema.ts
  server/src/controllers/savedRoutes.controllers.ts
  server/src/controllers/score.controller.ts
  server/src/index.ts
  server/src/routes/savedRoutes.routes.ts
  server/src/routes/score.routes.ts
  server/src/utils/compute/aqi.compute.ts
  server/src/utils/compute/breakPoint.compute.ts
  server/src/utils/compute/score.compute.ts
  server/src/utils/compute/traffic.compute.ts
  server/src/utils/compute/weather.compute.ts
  server/src/utils/scheduler/computeData.scheduler.ts
  server/src/utils/scheduler/pathwayClient.ts
Due: prettier --check, npm --prefix server run lint --

feat: expand README with a detailed table of contents, new features, updated tech stack, and granular project structure.
  README.md
Due: prettier --check

feat: Implement user profile dropdown and logout functionality in the navbar.
  client/components/profile/ProfileCard.tsx
  client/components/saved-routes/AppNavbar.tsx
Due: prettier --check, npm --prefix client run lint --

feat: Conditionally hide 'Use Current Location' buttons when source or destination queries are present.
  client/components/home/HomeMap.tsx
Due: prettier --check, npm --prefix client run lint --

feat: introduce new logo image and update styling across navigation, footer, and hero section.
  client/app/favicon.ico
  client/components/landing/Footer.tsx
  client/components/landing/Hero.tsx
  client/components/landing/Navbar.tsx
  client/components/saved-routes/AppNavbar.tsx
  client/public/logo.png
Due: prettier --check, npm --prefix client run lint --

Enhance README with logo and description
  README.md
Due: prettier --check

chore: auto-update README [skip ci]
  README.md
Due: prettier --check

Path conditions:
  prettier --check: ((((any of: client/**/*.{ts,tsx,js,jsx}) or (any of: server/**/*.{ts,tsx,js,jsx})) or (any of: *.{json,md,mdx,css,scss})) or (any of: client/**/*.{json,md,mdx,css,scss})) or (any of: server/**/*.{json,md,mdx,css,scss})
  npm --prefix client run lint --: any of: client/**/*.{ts,tsx,js,jsx}
  npm --prefix server run lint --: any of: server/**/*.{ts,tsx,js,jsx}
